:root {
  --brand-primary: #32cd53;
  --brand-primary-inverted: #EDFCEE;
  --brand-secondary: #30007A;
  --brand-light: #F5F5F5;
  --brand-secondary-inverted: var(--brand-light);
  --font-size-base: 16px;
  --main-navigation-color: var(--brand-secondary);
  --main-navigation-color-inverted: var(--brand-light);
}
